


* {
  box-sizing: border-box;
}



body {
  font-family: "Open Sans"; 
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  width: 80vh;
  margin: auto;
  flex: 1;
}


#fakeLink {
  font-size: large;
  color: #003388;
}

input {
  border: 1px solid silver;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 50em;
}



.image {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.restaurantImg {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.restaurant_panel {
 
  padding: 10px;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}




div.gallery {
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  background:white;

  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}




div.gallery.desc {
  padding: 15px;
  text-align: left;
  font-weight:bold;
  background:white;
}

div.gallery.title {
  padding: 15px;
  text-align: left;
  background:white;
}

.gallery.rating {
  display: flex;
  flex-flow: row wrap;
  background:white;
}
.gallery.rating-star {
  width: 2em;
  height: 2em;
  margin: 0.25em;
  background:white;
}


.voteButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 
}

.image-button{
  width: 3em;
  height: 3em;
 
}
.say_window{
  	width: 100%;
}
.messages_window{
  border: 2px solid #ccc;
  border-radius: 15px;
  overflow-y:auto;
  height:100px;
  width: 100%;
  overflow-y:auto;
  float:left;
  position:relative;
  padding: 10px;		
}

.search_container{
 
  margin_top:20px;
  border: 2px solid #ccc;
  padding: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}
.search_container{
 
  margin_top:20px;
 border: 2px solid #ccc;
  padding: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
 
}




.button { 
  border: none;  
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;  
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  flex:1;
  margin-left:0;
}

.button_container{
  display:flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
}
.game_button{
  border: none;  
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;  
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  flex:2;
  margin-left:0;
  flex-direction:right;
}
.keyword_box{
  width:100%;
}

