


* {
  box-sizing: border-box;
}



body {
  font-family: "Ariel", sans-serif;
  width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  width: 80vh;
  margin: auto;
  flex: 1;
}

#fakeLink {
  font-family: serif;
  font-size: large;
  color: #003388;
}

input {
  border: 1px solid silver;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 50em;
}



.image {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.restaurantImg {
  max-width: 100%;
  max-height: 100%;
  display: none;
}




main {
  width: 80vh;
  margin: auto;
  flex: 1;
}

.postcard {
  /*   background: #eceeeb; */
  background: #e6e2cf;
  margin: 2em 0;
  display: flex;
  border-radius: 10px;
  padding: 1em;
}

.image {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

#cardImg {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  background:white;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left;
  font-weight:bold;
  background:white;
}

div.title {
  padding: 15px;
  text-align: left;
  background:white;
}

.rating {
  display: flex;
  flex-flow: row wrap;
  background:white;
}
.rating-star {
  width: 2em;
  height: 2em;
  margin: 0.25em;
  background:white;
}


.voteButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 
}

.image-button{
  width: 3em;
  height: 3em;
 
}

.messages_window{
border: 2px solid #ccc;
  border-radius: 15px;
  overflow-y:auto;
  		height:100px;
		width: 100%;
		/* background-color:#CCC; */		
        overflow-y:auto;
		float:left;
		position:relative;
		
}

.search_container{
 
  margin_top:20px;
 border: 2px solid #ccc;
  padding: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}
.search_container{
 
  margin_top:20px;
 border: 2px solid #ccc;
  padding: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
 
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


.button {
 
  border: none;
  
 // width: 180px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button.game_button{
  align:center;
}
.keyword_box{
  width:100%;
}


   <div class="postcard">
        <div class="image upload">
          <img id="cardImg" alt="user uploaded img"/>

          <form method="post" enctype="multipart/form-data">
            <button class="btn">Choose Image</button>
            <input id="imgUpload" type="file" accept="image/*" name="photo"/> 
          </form>    
        </div>
        
        
        <div contenteditable="true" placeholder="Write your message here!" id="message" class="flower"></div> 
      </div>

.restaurant_panel {
 
  padding: 1em;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
   margin: 2em 0;
  display: flex;
  
}


.image {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

#cardImg {
  max-width: 100%;
  max-height: 100%;
  display: none;
}